<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<div class="header" th:fragment="bodyHeader">
    <nav class="navbar bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/image/logo.png" width="40"/>
                LetsCoffee
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvasNavbarLabel">LetsCoffee</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <h6><a class="nav-link" aria-current="page" href="/">HOME</a></h6>
                        </li>
                        <li class="nav-item">
                            <h6><a class="nav-link" href="/map">주변 브랜드 카페</a></h6>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <h6><a class="nav-link" href="/mypage">마이페이지</a></h6>
                        </li>
                    </ul>
                    <br>
                    <div class="dropdown" sec:authorize="!isAuthenticated()">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            로그인
                        </button>
                        <ul class="dropdown-menu p-2" style="text-align: center;" >
                            <li>
                                <a sec:authorize="!isAuthenticated()">
                                    <button class="btn btn-sm text-dark " style="background-color: #FFFFFF; width: 11rem;" th:onclick="|location.href='/oauth2/authorization/google'|">
                                        <img src="/image/google.png" height="25">
                                        <strong>&ensp;구글로 계속하기</strong>
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a sec:authorize="!isAuthenticated()">
                                    <button class="btn btn-sm text-white mt-2" style="background-color: #03C75A; width: 11rem;" th:onclick="|location.href='/oauth2/authorization/naver'|">
                                        <img src="/image/naver.png" height="24">
                                        <strong>&ensp;네이버로 계속하기</strong>
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a sec:authorize="!isAuthenticated()">
                                    <button class="btn btn-sm text-dark mt-2" style="background-color: #FEE500; width: 11rem;" th:onclick="|location.href='/oauth2/authorization/kakao'|">
                                        <img src="/image/kakao.png" height="24">
                                        <strong>&ensp;카카오로 계속하기</strong>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form class="form-inline my-lg-0 " th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                        <span th:text="${session.user.name} + '(' + ${session.user.provider} + ') 님'"/>&nbsp;&nbsp;
                        <button class="btn btn-secondary btn-sm" type="submit">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</div>

</html>