<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
<!--    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>-->
    <a href="/">
        <h3 style="text-align:center" class="text">
        <img src="https://cdn0.iconfinder.com/data/icons/expenses-vs-income/30/__cafe_coffee_beverages_bistro-128.png" width="50"/>
        LetsCoffee</h3>
<!--          <img src="https://cdn0.iconfinder.com/data/icons/expenses-vs-income/30/__cafe_coffee_beverages_bistro-1024.png"/>-->
    </a>

</div>