<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title th:text="${cafeName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<h4><strong>&nbsp;메뉴</strong></h4>
<form method="POST" th:action="'/'+ ${cafeName} + '/menu'">
    <div class="form-group">
    <select th:name="type" class="form-select">
        <option value="DRINK">음료</option>
        <option value="FOOD">푸드</option>
        <!-- <option value="product">상품</option> -->
    </select>
    </div>
    <button type="submit" class="btn btn-outline-secondary">보기</button>
</form>

<p><br></p>
<h4><strong>&nbsp;진행 중 이벤트</strong></h4>
<form method="POST" th:action="'/'+ ${cafeName} + '/promotion'">
    <div class="form-group">
        <select th:name="type" class="form-select">
            <option value="ALL">전체</option>
            <option th:if="${cafeName}=='starbucks'" value="STORE">매장 별</option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-secondary">보기</button>
</form>


<div th:replace="fragments/footer :: footer"/>
</body>
</html>