<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>메인</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
  .card-body {
    /* 자식 요소(.child)를 중앙 정렬하기 */
    display: flex;
    justify-content: center;
  }
  .card-img-top {
    height: 10rem;
    object-fit: scale-down;
  }
</style>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<p></p>
<div style="text-align: center;">
  <h3>
    <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/map}'|">주변 브랜드 카페 보기</button>
  </h3>
</div>

<p></p>
<div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://postfiles.pstatic.net/20160604_276/ppanppane_1465006344233mrvD4_PNG/%B7%CE%B0%ED-23.png?type=w966" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #2f6e46"
                      th:onclick="|location.href='@{/starbucks}'|">스타벅스</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.coffeebeankorea.com/images/common/logo_93_69.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #51366f"
                      th:onclick="|location.href='@{/coffeebean}'|">커피빈</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <!-- https://www.twosome.co.kr/resources/images/common/logo_black.svg -->
          <img class="card-img-top" src="https://blogfiles.pstatic.net/20160606_73/ppanppane_1465209281096IMW3u_PNG/%C5%F5%BD%E6_%C7%C3%B7%B9%C0%CC%BD%BA%B7%CE%B0%ED_%282%29.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #9d2d33"
                      th:onclick="|location.href='@{/twosome}'|">투썸플레이스</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://img.79plus.co.kr/megahp/common/img/brand02_2.jpg" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn" style="background-color: #f3cb47"
                      th:onclick="|location.href='@{/mega}'|">메가 MGC</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://paikdabang.com/wp-content/themes/paikdabang/assets/images/logo.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #0d1e5c"
                      th:onclick="|location.href='@{/paik}'|">빽다방</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://composecoffee.com/layouts/KSOTheme_Starter/src/img/logo.svg" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-secondary" style="background-color: #f6d552"
                      th:onclick="|location.href='@{/compose}'|">컴포즈 커피</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <!--          https://www.ediya.com/C/images/ediya/m_con_img07.gif-->
          <img class="card-img-top" src="https://postfiles.pstatic.net/20160604_62/ppanppane_1465006723421ByIAd_PNG/%C0%CC%B5%F0%BE%DF%B7%CE%B0%ED_%282%29.png?type=w966" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #0f2d68"
                      th:onclick="|location.href='@{/ediya}'|">이디야</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.caffe-pascucci.co.kr/lib/images/common/h1_logo.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #bf2d32"
                      th:onclick="|location.href='@{/pascucci}'|">파스쿠찌</button>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.hollys.co.kr/websrc/images/layout/logo_210302.gif" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #c73030"
                      th:onclick="|location.href='@{/hollys}'|">할리스</button>
            </h3>
          </div>
        </div>
      </div>



      <div class="col-3">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.baristapaulbassett.co.kr/images/aboutus/logo4.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #d7304f"
                      th:onclick="|location.href='@{/paulbasset}'|">폴바셋</button>
            </h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
