<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header">
  <title>HOME</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<style>
  .card-body {
    /* 자식 요소(.child)를 중앙 정렬하기 */
    display: flex;
    justify-content: center;
  }
  .card-img-top {
    height: 10rem;
    object-fit: scale-down;
  }
</style>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<ul class="nav nav-underline">
  &nbsp;
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">HOME</a>
  </li>
  <!-- 로그인되어 있는 회원의 즐겨찾기를 보여주고, 클릭 시, 해당 매장의 상세/N주문으로 이동합니다. 메모 클릭 시, 확인할 수 있습니다. -->
  <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
    <a class="nav-link link-secondary link-underline-opacity-0 pe-auto dropdown-toggle"
       data-bs-toggle="dropdown" role="button" aria-expanded="false" th:text="'즐겨찾는 매장(' + ${userFavoriteList.size()} + ')'"/>
    <ul class="dropdown-menu" style="white-space: nowrap;">
      <li th:each="favorite : ${userFavoriteList}">
        <a class="link-primary link-underline-opacity-50 pe-auto"
           th:href="@{'https://map.naver.com/p/search/' + ${favorite.storeName}}" th:text="${favorite.storeName}" style="display:inline;"/>
        &nbsp;
        <!-- 메모를 바로 볼 수 있습니다.(Bootstrap5 - Modal) -->
        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                th:data-bs-target="'#infoModalDisplay' + ${favoriteStat.index}">메모</button>
        <p th:unless="${favoriteStat.last}"></p>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link link-secondary link-underline-opacity-0 pe-auto" href="/map">주변 브랜드 카페</a>
  </li>
</ul>

<!-- modal을 생성합니다. -->
<div th:each="favorite : ${userFavoriteList}">
  <div class="modal fade" th:id="'infoModalDisplay' + ${favoriteStat.index}" tabindex="-1" aria-labelledby="infoModalDisplayLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="infoModalDisplayLabel">
            <strong> <span th:text="${favorite.storeName}"/> </strong>
            &nbsp;메모
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <span style="display: inline"><strong>Wi-Fi : </strong></span>
          <span th:text="${favorite.wifipass}" style="display: inline"/>
          <hr>
          <span style="display: inline"><strong>화장실 : </strong></span>
          <span th:text="${favorite.toiletpass}" style="display: inline"/>
          <hr>
          <span><strong>기타 :</strong></span>
          <div style="padding-top: 0.5rem;">
            <pre><p th:text="${favorite.otherInfo}"/></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <div class="container-md">
    <div class="row">
      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/starbucks">
            <img class="card-img-top" src="https://www.starbucks.co.kr/common/img/common/logo.png" alt="" >
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #2f6e46"
                      th:onclick="|location.href='@{/starbucks}'|">스타벅스</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="starbucksPromotion : ${starbucksPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${starbucksPromotionStat.count} + '.  '"></span>
                <a th:href="${starbucksPromotion.link}" th:text="${starbucksPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/coffeebean">
            <img class="card-img-top" src="https://www.coffeebeankorea.com/images/common/logo_93_69.png" alt="" >
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #51366f"
                      th:onclick="|location.href='@{/coffeebean}'|">커피빈</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="coffeebeanPromotion : ${coffeebeanPromotionList}">
                <p>
                  <span class="text-body-tertiary" th:text="' ' + ${coffeebeanPromotionStat.count} + '.  '"></span>
                  <a th:href="${coffeebeanPromotion.link}" th:text="${coffeebeanPromotion.name}"/>
                </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/mega">
            <img class="card-img-top" src="https://img.79plus.co.kr/megahp/common/img/brand02_2.jpg" alt="" >
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn" style="background-color: #f3cb47"
                      th:onclick="|location.href='@{/mega}'|">메가 MGC</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="megaPromotion : ${megaPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${megaPromotionStat.count} + '.  '"></span>
                <a th:href="${megaPromotion.link}" th:text="${megaPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/paik">
            <img class="card-img-top" src="https://paikdabang.com/wp-content/themes/paikdabang/assets/images/logo.png" alt="">
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #0d1e5c"
                      th:onclick="|location.href='@{/paik}'|">빽다방</button>
            </h3>
          </div>
            <div class="card-footer">
              <!-- 진행중인 이벤트가 따로 구분돼 있지 않아 연도로 조회하여 업로드 날짜를 표시합니다 -->
              <h4 class="text-body-emphasis" style="text-align: center">[ 이벤트 ]</h4>
              <div class="card-text" th:each="paikPromotion : ${paikPromotionList}">
                <p th:unless="${paikPromotion.period} == null"
                   th:with="period=${paikPromotion.period}, year=${#dates.format(#dates.createNow(), 'YYYY')}">
                  <block th:if="${#strings.contains(period,year)}">
                    <span class="text-body-tertiary" th:text="' ' + ${paikPromotionStat.count} + '.  '"></span>
                    <a th:href="${paikPromotion.link}" th:text="${paikPromotion.name}"/>
                    <br>&emsp;<span style="font-size: 0.9rem;" th:text="'<' + ${paikPromotion.period} + '>'"/>
                  </block>
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/compose">
            <img class="card-img-top" src="https://composecoffee.com/layouts/KSOTheme_Starter/src/img/logo.svg" alt="">
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-secondary" style="background-color: #f6d552"
                      th:onclick="|location.href='@{/compose}'|">컴포즈 커피</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 이벤트 ]</h4>
            <!-- 진행중인 이벤트가 따로 구분돼 있지 않아 연도로 조회하여 업로드 날짜를 표시합니다 -->
            <div class="card-text" th:each="composePromotion : ${composePromotionList}" >
              <p th:unless="${composePromotion.period} == null"
                 th:with="period=${composePromotion.period}, year=${#dates.format(#dates.createNow(), 'YYYY')}">
                <block th:if="${#strings.contains(period, year)}">
                  <span class="text-body-tertiary" th:text="' ' + ${composePromotionStat.count} + '.  '"></span>
                  <a th:href="${composePromotion.link}" th:text="${composePromotion.name}"/>
                  <br>&emsp;<span style="font-size: 0.9rem;" th:text="'<' + ${composePromotion.period} + '>'"/>
                </block>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <!--          https://www.ediya.com/C/images/ediya/m_con_img07.gif-->
          <a href="/ediya">
            <img class="card-img-top" src="https://www.ediya.com/images/common/top_logo.gif" alt="">
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #0f2d68"
                      th:onclick="|location.href='@{/ediya}'|">이디야</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="ediyaPromotion : ${ediyaPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${ediyaPromotionStat.count} + '.  '"></span>
                <a th:href="${ediyaPromotion.link}" th:text="${ediyaPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/pascucci">
            <img class="card-img-top" src="https://www.caffe-pascucci.co.kr/lib/images/common/h1_logo.png" alt="">
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #bf2d32"
                      th:onclick="|location.href='@{/pascucci}'|">파스쿠찌</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="pascucciPromotion : ${pascucciPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${pascucciPromotionStat.count} + '.  '"></span>
                <a th:href="${pascucciPromotion.link}" th:text="${pascucciPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/hollys">
            <img class="card-img-top" src="https://www.hollys.co.kr/websrc/images/layout/logo_210302.gif" alt="">
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #c73030"
                      th:onclick="|location.href='@{/hollys}'|">할리스</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="hollysPromotion : ${hollysPromotionList}">
              <p th:with="name=${hollysPromotion.name}">
                <span class="text-body-tertiary" th:text="' ' + ${hollysPromotionStat.count} + '.  '"></span>
                <a th:href="${hollysPromotion.link}" th:text="${#strings.replace(name, '이벤트', '이벤트 - ')}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <a href="/paul">
            <img class="card-img-top" src="https://www.baristapaulbassett.co.kr/images/aboutus/logo4.png" alt="">
          </a>
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #d7304f"
                      th:onclick="|location.href='@{/paul}'|">폴바셋</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="paulPromotion : ${paulPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${paulPromotionStat.count} + '.  '"></span>
                <a th:href="${paulPromotion.link}" th:text="${paulPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
