<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header">
  <title>메인</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<style>
  .card-body {
    /* 자식 요소(.child)를 중앙 정렬하기 */
    display: flex;
    justify-content: center;
  }
  h4.text-decoration-underline {
    text-align: center;
  }
  .card-img-top {
    height: 10rem;
    object-fit: scale-down;
  }
  .col-md-auto {
    max-width: 500px;
  }
</style>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">HOME</a>
  </li>
  <!-- 로그인되어 있는 회원의 즐겨찾기를 보여주고, 클릭 시, 해당 매장의 상세/N주문으로 이동합니다. -->
  <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">즐겨찾는 매장</a>
    <ul class="dropdown-menu" style="white-space: nowrap;">
      <li th:each="favorite : ${userFavoriteList}">
        <a th:href="@{'https://map.naver.com/p/search/' + ${favorite.storeName}}" th:text="${favorite.storeName}"/>
        <p th:unless="${favoriteStat.last}"></p>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/map">주변 브랜드 카페</a>
  </li>
</ul>

<div>
  <div class="container-md">
    <div class="row">
      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.starbucks.co.kr/common/img/common/logo.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #2f6e46"
                      th:onclick="|location.href='@{/starbucks}'|">스타벅스</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="starbucksPromotion : ${starbucksPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${starbucksPromotionStat.count} + '.  '"></span>
                <a th:href="${starbucksPromotion.link}" th:text="${starbucksPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.coffeebeankorea.com/images/common/logo_93_69.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #51366f"
                      th:onclick="|location.href='@{/coffeebean}'|">커피빈</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="coffeebeanPromotion : ${coffeebeanPromotionList}">
                <p>
                  <span class="text-body-tertiary" th:text="' ' + ${coffeebeanPromotionStat.count} + '.  '"></span>
                  <a th:href="${coffeebeanPromotion.link}" th:text="${coffeebeanPromotion.name}"/>
                </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://img.79plus.co.kr/megahp/common/img/brand02_2.jpg" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn" style="background-color: #f3cb47"
                      th:onclick="|location.href='@{/mega}'|">메가 MGC</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="megaPromotion : ${megaPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${megaPromotionStat.count} + '.  '"></span>
                <a th:href="${megaPromotion.link}" th:text="${megaPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://paikdabang.com/wp-content/themes/paikdabang/assets/images/logo.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #0d1e5c"
                      th:onclick="|location.href='@{/paik}'|">빽다방</button>
            </h3>
          </div>
            <div class="card-footer">
              <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
              <div class="card-text" th:each="paikPromotion : ${paikPromotionList}">
                <p>
                  <span class="text-body-tertiary" th:text="' ' + ${paikPromotionStat.count} + '.  '"></span>
                  <a th:href="${paikPromotion.link}" th:text="${paikPromotion.name}"/>
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://composecoffee.com/layouts/KSOTheme_Starter/src/img/logo.svg" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-secondary" style="background-color: #f6d552"
                      th:onclick="|location.href='@{/compose}'|">컴포즈 커피</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="composePromotion : ${composePromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${composePromotionStat.count} + '.  '"></span>
                <a th:href="${composePromotion.link}" th:text="${composePromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <!--          https://www.ediya.com/C/images/ediya/m_con_img07.gif-->
          <img class="card-img-top" src="https://www.ediya.com/images/common/top_logo.gif" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #0f2d68"
                      th:onclick="|location.href='@{/ediya}'|">이디야</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="ediyaPromotion : ${ediyaPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${ediyaPromotionStat.count} + '.  '"></span>
                <a th:href="${ediyaPromotion.link}" th:text="${ediyaPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.caffe-pascucci.co.kr/lib/images/common/h1_logo.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #bf2d32"
                      th:onclick="|location.href='@{/pascucci}'|">파스쿠찌</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="pascucciPromotion : ${pascucciPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${pascucciPromotionStat.count} + '.  '"></span>
                <a th:href="${pascucciPromotion.link}" th:text="${pascucciPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.hollys.co.kr/websrc/images/layout/logo_210302.gif" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #c73030"
                      th:onclick="|location.href='@{/hollys}'|">할리스</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="hollysPromotion : ${hollysPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${hollysPromotionStat.count} + '.  '"></span>
                <a th:href="${hollysPromotion.link}" th:text="${hollysPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <img class="card-img-top" src="https://www.baristapaulbassett.co.kr/images/aboutus/logo4.png" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #d7304f"
                      th:onclick="|location.href='@{/paul}'|">폴바셋</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="paulPromotion : ${paulPromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${paulPromotionStat.count} + '.  '"></span>
                <a th:href="${paulPromotion.link}" th:text="${paulPromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p></p>
        <div class="card">
          <!-- https://www.twosome.co.kr/resources/images/common/logo_black.svg -->
          <img class="card-img-top" src="https://www.twosome.co.kr/resources/images/common/logo_black.svg" alt="" />
          <div class="card-body">
            <h3 class="card-title" style="align-content:center">
              <button class="btn text-white" style="background-color: #9d2d33"
                      th:onclick="|location.href='@{/twosome}'|">투썸플레이스</button>
            </h3>
          </div>
          <div class="card-footer">
            <h4 class="text-body-emphasis" style="text-align: center">[ 진행 중인 이벤트 ]</h4>
            <div class="card-text" th:each="twosomePromotion : ${twosomePromotionList}">
              <p>
                <span class="text-body-tertiary" th:text="' ' + ${twosomePromotionStat.count} + '.  '"></span>
                <a th:href="${twosomePromotion.link}" th:text="${twosomePromotion.name}"/>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
