<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>메뉴</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div>
    <h4 style="text-align:center">
        <th:block th:switch="${type}">
            <span th:case="drink">음료 메뉴</span>
            <span th:case="food">푸드 메뉴</span>
            <span th:case="product">상품 메뉴</span>
        </th:block>
    </h4>

    <div class="container">
        <div class="row" >
            <div class="col-4" th:each="menu : ${menuList}">
                <p></p>
                <div class="card">
                    <div class="card-header" th:text="${menu.name}"/>
                    <img th:src="${menu.image}" alt="" />

<!--                    가격 정보-->
<!--                    <div class="card-body">
                        <h5 class="card-title" th:text="${menu.name}"/>
                    </div>-->

                </div>
            </div>
        </div>
    </div>

       <!-- <table class="table table-striped">
        <thread>
            <tr>
                <th>IMAGE</th>
                <th>MENU</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="menu:${starbucksDrinkList}">
            <td style="width: 5rem"><img th:src="${menu.image}" style="width:100px; height:100px;"></td>
            <td th:text="${menu.name}"></td>
        </tr>
        </tbody>
    </table>-->

</div>


<div th:replace="fragments/footer :: footer"/>
</body>