<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('LetsCoffee : 메뉴')">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div>
    <h4 style="text-align:center">
        <th:block th:switch="${type}">
            <span th:case="DRINK"><strong>음료 메뉴</strong></span>
            <span th:case="FOOD"><strong>푸드 메뉴</strong></span>
            <span th:case="PRODUCT"><strong>상품 메뉴</strong></span>
        </th:block>
    </h4>

    <div class="container-md" >
        <div class="row" >
            <div class="col-md-3" style="max-width: 50%" th:each="menu : ${menuList}">
                <p></p>
                <div class="card" style="text-align: center">
                    <div class="card-header" th:text="${menu.name}"/>
                    <img th:src="${menu.image}" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>