<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('LetsCoffee : 이벤트')">
    <title>이벤트</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
    p, h4, h5 {
        display: flex;
        justify-content: center;
    }
</style>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<th:block th:switch="${type}">
    <div th:case="ALL">
        <h4 class="text-decoration-underline"><strong>전체 이벤트 목록</strong></h4><br>

        <p></p>
        <div class="container-md">
            <div class="row" >
                <div class="col-md-3" th:each="promotion : ${promotionList}">
                    <p></p>
                    <div class="card" style="text-align:center">
                        <a th:href="${promotion.link}">
                            <img class="card-img" th:src="${promotion.image}" alt=""/>
                        </a>

                        <div class="card-body" style="text-align:center">
                            <h5>
                                <a th:href="${promotion.link}" th:text="${promotion.name}"/>
                            </h5>
                            <p class="text-dark" th:unless="${promotion.period}==null"
                               th:text="${promotion.period}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:case="STORE">
        <h4><strong>매장 별 이벤트 목록</strong></h4>

        <div class="container-md">
            <div class="row" >
                <div class="col-md-4" th:each="promotion : ${promotionList}">
                    <p></p>
                    <div class="card">
                        <h5 class="card-header" th:text="${promotion.name}"/>
                        <div class="card-body">
                            <p class="text-decoration-underline" th:text="${promotion.period}"/>
                            <p class="text-decoration-underline" th:text="'매장 : ' + ${promotion.store}"/>

                            <div th:each="content : ${promotion.content}">
                                <p class="text-decoration-underline" th:if="${contentStat.index==0}"
                                   th:text="${content}" style="text-align: center"/>
                                <span class="text-body-tertiary" th:unless="${contentStat.index==0}"
                                      th:text="${content}"/><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>